#project2 #closeProject2{
    content: 'x'; 
    color: #333;
    font-weight: 300;
    font-size: 25px;
    padding-right:10px;
    padding-top:10px;
    font-family: Arial, sans-serif;
    position: relative;
    float: right;
}
#project2 #closeProject2:hover{
    cursor: pointer;
}
